body {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #FFF;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #444;
    text-align: center;
  }
  
  
  
  .resultado {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .resultado p {
    margin: 10px 0;
    color: #444;
    font-size: 18px;
  }